__pycache__/
*.py[cod]
*$py.class

.idea/
.vscode/

save/
PriSTI-main/save/

data/traffic/
data/electricity/
data/ETT_raw/
data/ETT_processed/
data/Weather/

*.log
*.pth
*.pt
*.ckpt
generated_outputs_*.pk
result_*.pk

.DS_Store
